<%= form_for(@merk) do |f| %>
  <% if @merk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merk.errors.count, "error") %> prohibited this merk from being saved:</h2>

      <ul>
      <% @merk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :nama %> :
      <%= f.text_field :nama, class: 'form-control'%>
    </div><br>
    <div class="actions">
      <%= f.submit "simpan", class: 'btn btn-primary'%>
      <%= link_to 'kembali', merks_path, class: 'btn btn-primary'%> 
    </div>
    <% end %>
